@charset "utf-8";
.main{
	width:100%;
	/* height:100%; */
	margin:0px;
	padding:0px;
	/* padding-bottom: 2.5rem; */
	background:#fff;
}
.head{
	width:100%;
	height:2.5rem;
	border-top:1px solid #eeeeee;

}
.head .first{
	width:90%;
	height:100%;
	margin:0 auto;
}
.head .first .text,.head .first .text1{
	text-align: center;
	line-height: 2.5rem;
	font-size: 0.75rem;
	color:#000;
	float:left;
}
.head .first .text1{float:right;}
.explain{
	/* height:100%; */
	width:90%;
	margin:0 auto;
	color:#666;
	font:0.6rem;
	text-align:left;
	margin-top:0.75rem;
}
.finish{
	width:100%;
	height:2.25rem;
	margin-top:1.25rem;
}
.finish a{
	width:90%;
	height:2.25rem;
	background:#FE7E01;
	display: block;
	margin:0 auto;
	font-size: 0.85rem;
	text-align: center;
	line-height: 2.25rem;
	border-radius:3px;
	color: #fff;
}
